@font-face {
    font-family: 'BIG-JOHN';
    src: url('../fonts/BIG-JOHN.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'MYRIADPRO-BOLD';
    src: url('../fonts/MYRIADPRO-BOLD.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'MYRIADPRO-LIGHT';
    src: url('../fonts/MYRIADPRO-LIGHT.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'SOURCESANSPRO-REGULAR';
    src: url('../fonts/SOURCESANSPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}